# Secrets
.env
env.yaml

# Python
.venv/
__pycache__/
*.pyc

# MacOS
.DS_Store

# Logs
pipeline.log

# Notebooks checkpoints
.ipynb_checkpoints/
youtube-daily-pipeline-service_account.json
.env

# Backups
*.bak